nav,nav{
 display: inline-block;
}
body{
    padding:50px;   
}
h1,h2,h3,h4{
 align-content: center;   
}
.portfolioh3{
    position:relative;
    top:0px;
}
.btn{
    border:100px;  
}   
hr.line1{
    width: 100%; 
    color:red;
}
.col-centered{
    float:none;
    margin: 0 auto;
}
container{
    color:red;
}    
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

